<h3>Notificações <i class="fa fa-exclamation-circle" aria-hidden="true"></i></h3>
<hr>
<div class="row">
  <% if @relationships.present? %>
    <% @relationships.each do |relationship| %>
      <div class="col-sm-1">
        <div class="thumbnail">
          <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
        </div><!-- /thumbnail -->
      </div><!-- /col-sm-1 -->
      <div class="col-sm-5">
        <div class="panel panel-info">
          <div class="panel-heading">
            <strong><%= relationship.email %></strong> <span class="text-muted"><%= relationship.created_at.strftime('%d/%m/%Y : %I:%M%p') %></span>
          </div>
          <div class="panel-body">
            Agora esta seguindo você!
          </div><!-- /panel-body -->
        </div><!-- /panel panel-default -->
      </div><!-- /col-sm-5 -->
    <% end %>
  <% else %>
    <h1 class="text-center"><i class="fa fa-info-circle fa-2x" aria-hidden="true"></i><br> Nenhuma Notificação</h1>
  <% end %>
</div><!-- roow -->
<a href="/" class="btn btn-danger"><i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar</a>
